@font-face {
  font-family: "Arco";
  src: url("../fonts/arco.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: var(--off-white);
  font-size: 20px;
}

/**********/
/* COLORS */
/**********/

:root {
  --off-white: #f5f1ec;
  --peach: #efd2bb;
  --yellow: #ffe000;
  --orange: #f5996e;
  --pink: #f55fcd;
  --berry: #eb4355;
  --medium-violet: #4f2c94;
  --dark-violet: #160b2d;
  --darkest-violet: #090c21;
  --neutral-gray: #444;
  --lighter-gray: #888;
}

h1 {
  font-family: "Arco", sans-serif;
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: var(--berry);
}

a:hover {
  text-decoration: underline;
}

/********/
/* MAIN */
/********/

main {
  background-image: url(../images/bg2.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgba(3, 4, 10, 0.65);
  background-blend-mode: multiply;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 90px;
  padding-top: 20px;
}

section {
  text-align: center;
}

#logo {
  max-width: 540px;
  margin: 0 auto;
}

#logo img {
  width: 100%;
}

#coming-soon {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#coming-soon p {
  color: var(--yellow);
}

.coming-soon-logos {
  display: flex;
  justify-content: center;
}

.coming-soon-logos a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
  text-decoration: none;
}

.coming-soon-logo-1 {
  height: 55px;
}

.coming-soon-logo-2 {
  height: 60px;
}

footer {
  background-color: transparent;
  height: 50px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-media {
  display: flex;
  gap: 30px;
}

.footer-social-media a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 920px) {
  main {
    padding: 0 30px;
  }
}